@model UserManagement.Models.User


<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h4 class="mb-0">User Management</h4>
                </div>
                <div class="card-body">

                    <form asp-controller="Home"  asp-action="UpdateUserById">
                        <div class="form-group">
                            <label>Id:</label>
                            <input type="number" readonly class="form-control"  asp-for="id">
                        </div>
                        <div class="form-group">
                            <label for="name">Name:</label>
                            <input type="text" class="form-control" id="name" name="name" asp-for="name">
                        </div>
                        <div class="form-group">
                            <label for="email">Email:</label>
                            <input type="email" class="form-control" id="email" name="email" asp-for="email">
                        </div>
                        
                        <div class="form-group">
                            <label for="address">Department:</label>
                           
                            <select class="form-control" asp-for="DepartmentID">
                                @foreach (var item in ViewBag.DepList)
                                {
                                    <option value="@item.Id">@item.DepartmentName</option>
                                }


                            </select>
                        </div>

                       
                        <div class="form-group">
                            <label for="salary">Salary:</label>
                            <input type="number" class="form-control" id="salary" name="salary" asp-for="salary">
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">Update</button>
                        <button asp-action="DeleteUserById" asp-controller="Home">Delete here</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
