@model UserManagement.Models.Department

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h4 class="mb-0">User Management</h4>
                </div>
                <div class="card-body">

                    <form asp-controller="Department" asp-action="UpdateDepartmentById">
                        <div class="form-group">
                            <label>Id:</label>
                            <input type="number" readonly class="form-control" asp-for="Id">
                        </div>
                        <div class="form-group">
                            <label for="name">Department Name:</label>
                            <input type="text" class="form-control"  asp-for="DepartmentName">
                        </div>
                        <div class="form-group">
                            <label for="email">Member number:</label>
                            <input type="number" class="form-control" asp-for="MemberNumber">
                        </div>
                        <div class="form-group">
                            <label for="number">Manager Name:</label>
                            <input type="text" class="form-control" asp-for="Manager">
                        </div>
                        <div class="form-group">
                            <label for="address">Discription:</label>
                            <input type="text" class="form-control"  asp-for="Discription">
                        </div>
                        <div class="form-group">
                            <label for="address">USER list:</label>
                            @if (Model.Users != null)
                            {
                                <table class="table" asp-for="Users">
                                    @foreach (var item in Model.Users)
                                    {
                                        <tr>
                                            <td value="@item.id">@item.name </td>
                                        </tr>
                                    }
                                </table>
                            }
                            @* <select class="form-control" asp-for="Users">
                                @foreach (var item in ViewBag.UserList)
                                {
                                    <option value="@item.id">@item.name</option>
                                }


                            </select>*@
                        </div>


                        
                        <button type="submit" class="btn btn-primary btn-block">Update</button>
                        <button asp-action="DeleteDepartmentById" asp-controller="Department">Delete here</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
