@model List<UserManagement.Models.Department>
@{
    int i = 0;
}

<table class="table">
    <thead>
        <tr>
            <th>SN</th>
            <th scope="col">SN</th>
            <th scope="col">Department Name</th>
            <th scope="col">Manager</th>
        </tr>
    </thead>
    <tbody>
       
        @foreach (UserManagement.Models.Department dep in Model)
        {
            
            i++;
            <tr>
                <td>@i</td>
                <td >@dep.Id</td>
                <td>@dep.DepartmentName</td>
                
                <td>@dep.Manager</td>
                
                <td><a href="GetDepartmentById/@dep.Id">View</a></td>
                @*<td><a href="DeleteUserById/@item.id">Delete</a></td>*@
            </tr>
        }
    </tbody>
</table>